.album {
  width: 100%;
  height: 583px;
  position: relative;
  @include breakpoint($br-medium) {
    height: 470px;
  }
  .max-width {
    @include breakpoint($br-medium) {
      width: 100%;
      display: inline;
    }
    @include breakpoint($br-large) {
      display: block;
      height: 472px;
    }
  }
  .wrapper-table {
    background-color: #2dc27a;
    vertical-align: middle;
    display: table;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    height: 325px;
    width: 100%;
    @include breakpoint($br-medium) {
      height: 470px;
      width: 45.05%;
      position: absolute;
      left: 27.5%;
    }
    @include breakpoint($br-large){
      height: 470px;
      width: 420px;
    }
    .wrapper-cell{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 325px;
      width: 275px;
      @include breakpoint($br-medium) {
        height: 470px;
        width: 45.05%;
      }
      img {
        width: 40px;
        margin-bottom: 15px;
        @include breakpoint($br-medium) {
          width: 60px;
        }
      }
      h1 {
        color: $white;
        font-family: museosans100;
        font-size: 22px;
        @include breakpoint($br-medium) {
          font-size: 30px;
        }
      }
      p {
        color: $white;
        font-family: museosans300;
        font-size: 14px;
        line-height: 23px;
        padding: 0 20px;
        margin: 30px 0;
        @include breakpoint($br-medium) {
          font-size: 18px;
          line-height: 31px;
        }
      }
      .white-button {
        display: inline-block;
        text-decoration: none;
        font-family: museosans700;
        font-size: 16px;
        color: #2dc27a;
        background: #ffffff url(/img/icons/right-arrow-green.svg) no-repeat;
        background-size: 7px;
        background-position: 90% center;
        padding: 12px 30px 12px 20px;
        border-radius: 20px;
      }
    }
  }
  .album-photo {
    display: inline-block;
    float: left;
    width: 135px;
    height: 115px;
    margin-top: 4px;
    @include breakpoint($br-medium) {
      width: 26.04%;
      height: 230px;
      position: absolute;
      margin-top: 0;
      float: none;
    }
    @include breakpoint($br-large) {

    }
  }
  .first{
    background: url("/img/photo-1.png") no-repeat;
    background-size: cover;
    margin-right: 4px;
    @include breakpoint($br-medium) {
      left: 0;
    }
  }
  .second {
    background: url("/img/photo-2.png") no-repeat;
    background-size: cover;
    @include breakpoint($br-medium) {
      right: 0;
    }
  }
  .third {
    background: url("/img/photo-3.png") no-repeat;
    background-size: cover;
    margin-right: 4px;
    @include breakpoint($br-medium) {
      bottom: 0;
      left: 0;
    }
  }
  .forth {
    background: url("/img/photo-4.png") no-repeat;
    background-size: cover;
    @include breakpoint($br-medium) {
      bottom: 0;
      right: 0;

    }
  }
}
