footer {
  background-color: #f7f7f7;
  @include breakpoint($br-large) {
    background-color: $white;
  }
  .footer-container {
    padding-top: 30px;
    @include breakpoint($br-medium) {
      padding-top: 70px;
    }
    @include breakpoint($br-large) {
      height: 275px;
    }
    h4 {
      font-family: museosans500, sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      color: #a0a4ab;
      padding-bottom: 13px;
      @include breakpoint($br-medium) {
        font-size: 16px;
        padding-bottom: 32px;
      }
      @include breakpoint($br-large) {
        font-size: 14px;
        padding-bottom: 16px;
      }
    }
    .active {
      @include breakpoint($br-large) {
        list-style: circle;
      }
      a{
        @include breakpoint($br-large) {
          color: $downriver;
        }
      }
    }
    a {
      text-decoration: none;
      font-family: museosans500, sans-serif;
      font-size: 12px;
      color: $blue-ribbon;
      line-height: 30px;
      &:hover {
        color: $downriver;
      }
      @include breakpoint($br-medium) {
        font-size: 16px;
        line-height: 40px;
      }
      @include breakpoint($br-large) {
        line-height: 38px;
        font-size: 15px;
      }
    }
    .logo {
      display: none;
      @include breakpoint($br-large) {
        display: block;
        line-height: 0;
        @include span(3 of 12);
      }
    }
    .list-1 {
      display: none;
      @include breakpoint($br-large) {
        display: block;
        @include span(2 of 12);
      }
    }
    .list-2 {
      @include span(6 of 12);
      @include breakpoint($br-medium) {
        @include span(4 of 12);
      }
      @include breakpoint($br-large) {
        @include span(2 of 12);
      }
    }
    .list-3 {
      @include span(6 of 12);
      @include last;
      @include breakpoint($br-medium) {
        @include span(4 of 12);
      }
      @include breakpoint($br-large) {
        @include span(2 of 12);
      }
    }
    .list-4 {
      @include span(12 of 12);
      @include last;
      @include breakpoint($br-medium) {
        @include span(4 of 12);
        @include last;
      }
      @include breakpoint($br-large) {
        @include span(3 of 12);
        @include last;
      }
      .register-bottom {
        display: none;
        text-align: end;
        right: 0;
        @include breakpoint($br-large) {
          display: block;
        }
        .btn {
          background-color: $blue-ribbon;
          height: 40px;
          width: 80px;
          display: inline-block;
          text-decoration: none;
          line-height: 40px;
          text-align: center;
          color: #fff;
          font-family: museosans700;
          font-size: 13px;
          &:hover {
            background-color: $science-blue;
          }
        }
        .btn-log{
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        .btn-sign{
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      .apps {
        @include breakpoint($br-small) {
          display: inline-block;
          padding: 27px 0;
        }
        @include breakpoint($br-medium) {
          display: none;
          float: right;
          padding: 0;

        }
        @include breakpoint($br-large) {
          display: block;
          margin-top: 86px;
          padding: 0;
        }
        img{
          @include breakpoint($br-small) {
            display: inline-block;
            margin-bottom: 0;
            &:first-child {
              margin-right: 19px;
            }
          }
          @include breakpoint($br-medium){
            display: none;
          }
          @include breakpoint($br-large) {
            display: block;
            margin-bottom: 10px;
            &:first-child {
              margin-right: 0;
            }
          }
        }
      }
      .apps-medium {
        @include breakpoint($br-small) {
          display: none;
        }
        @include breakpoint($br-medium) {
          display: block;
        }
        @include breakpoint($br-large) {
          display: none;

        }
        img {
          @include breakpoint($br-small) {
            display: none;
          }
          @include breakpoint($br-medium) {
            display: block;
            margin-bottom: 17px;
          }
          @include breakpoint($br-large) {
            display: none;
          }
        }
      }
    }
  }
  .footer-2 {
    border-top: 1px solid #eaeaea;
    line-height: 45px;
    background-color: $white;
    @include breakpoint($br-medium) {
      padding: 13px 0 90px;
    }
    @include breakpoint($br-large) {
      background-color: #f7f7f7;
      border-top: 1px solid #eaeaea;
      padding: 0;
      line-height: 80px;
    }
    a {
      text-decoration: none;
      font-family: museosans300, sans-serif;
      font-size: 11px;
      color: $blue-ribbon;
      @include breakpoint($br-medium) {
        font-size: 16px;
      }
    }
    span {
      font-size: 11px;
      color: #b9bfc7;
    }
    .social-icons {
      float: right;
      .icon-facebook, .icon-twitter, .icon-youtube {
        width: 11px;
        height: 11px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        @include breakpoint($br-medium) {
          width: 19px;
          height: 19px;
          margin-right: 10px;
        }
      }
      .icon-facebook {
        background: url("../img/social-icons/facebook.png") no-repeat;
        @include breakpoint($br-medium) {
          background: url("../img/social-icons/facebook-lg.png") no-repeat;
        }
      }
      .icon-twitter {
        background: url("../img/social-icons/twetter.png") no-repeat;
        @include breakpoint($br-medium) {
          background: url("../img/social-icons/twetter-lg.png") no-repeat;
        }
      }
      .icon-youtube {
        background: url("../img/social-icons/youtube.png") no-repeat;
        @include breakpoint($br-medium) {
          background: url("../img/social-icons/youtube-lg.png") no-repeat;
          margin-right: 0;
        }
      }
    }
  }
}