header{
  padding-top: 25px;
}
.user-type-nav {
  display: inline;

  float: right;

  a {
    margin-left: 25px;
    text-decoration: none;
    color: #081f3f;
    font-family:sans-serif;
  }
  a:hover{
    color: $blue;
  }
}
.logo {

}
nav {
  text-align: center;
  li{
    display: inline;
    a{
      text-decoration: none;
      margin-right: 30px;
      padding-bottom: 50px;
    }
    a:hover{
      border-bottom: 5px solid $blue;

    }
  }
}
.register {
  float: right;
  padding-bottom: 15px;
  .btn-log{
    background-color: $blue;
    height: 40px;
    width: 80px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .btn-log:hover {
    background-color: $dark-blue;
  }
  .btn-sign{
    background-color: $blue;
    height: 40px;
    width: 80px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .btn-sign:hover {
    background-color: $dark-blue;
  }
}
