.header-width{
  width: 100%;

}
header{
  position: relative;
  height: 140px;
}
.user-type-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  z-index: 333;
  a {
    margin-left: 27px;
    text-decoration: none;
    color: $downriver;
    font-family: museosans500;
    font-size: 12px;
    line-height: 12px;
    &:hover {
      color: $blue-ribbon;
    }
  }
}
.logo {
  position: absolute;
  line-height: 140px;
  z-index: 1;
}
nav {
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 140px;
  li {
    display: inline;
    a {
      position: relative;
      text-decoration: none;
      margin-right: 30px;
      padding-bottom: 61px;
      font-family: museosans900;
      color: $downriver;
      .hover{
        display: none;
      }
      &:visited {
        color: $downriver;
      }
      &:hover, &.active {
        .hover {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 5px;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          background-color: #0050ff;

        }
      }
    }
  }
}
.register {
  text-align: end;
  position: absolute;
  right: 0;
  line-height: 140px;
  .btn {
    background-color: $blue-ribbon;
    height: 40px;
    width: 80px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-family: museosans700;
    font-size: 13px;
    &:hover {
      background-color: $science-blue;
    }
  }
  .btn-log{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .btn-sign{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
