.posts {
  hr {
    border: 1px solid #e4e3e3;
    margin: 0;
  }
  .post {
    text-align: center;
    @include breakpoint($br-medium) {
      text-align: left;
    }
    h1 {
      font-size: 24px;
      width: 100%;
      margin-top: 35px;
      font-family: museosans100;
      @include breakpoint($br-medium) {
        font-size: 34px;
        width: 50%;
        display: inline-block;
        margin: 48px 0 36px;
      }
      @include breakpoint($br-large) {
        font-size: 48px;
        margin: 39px 0 43px;
      }
    }
    p {
      width: 100%;
      font-family: museosans300;
      font-size: 14px;
      line-height: 25px;
      @include breakpoint($br-medium) {
        width: 50%;
        font-size: 15px;
        line-height: 28px;
        display: table-cell;
        padding-right: 52px;
      }
      @include breakpoint($br-large) {
        font-size: 18px;
        display: block;
        line-height: 30px;
        padding-right: 0;

      }
    }
    .post-img-1 {
      background: url("/img/post-1.png") no-repeat center;
      background-size: contain;
      width: 230px;
      height: 170px;
      margin: 25px auto;
      @include breakpoint($br-medium) {
        width: 295px;
        height: 220px;
        float: right;
        margin: 108px 0 135px;
      }
      @include breakpoint($br-large) {
        width: 390px;
        height: 290px;
        margin: 0;
        margin-top: 40px;
      }
    }
    .post-img-2 {
      background: url("/img/post-2.png") no-repeat;
      background-size: contain;
      width: 230px;
      height: 170px;
      margin: 25px auto;
      @include breakpoint($br-medium) {
        width: 260px;
        height: 193px;
        float: left;
        margin: 108px 0 135px;
      }
      @include breakpoint($br-large) {
        width: 365px;
        height: 274px;
        margin: 0;
        margin-right: 160px;
        margin-top: 55px;
      }
    }
    .post-img-3 {
      background: url("/img/post-3.png") no-repeat;
      background-size: contain;
      width: 225px;
      height: 170px;
      margin: 25px auto;
      @include breakpoint($br-medium) {
        width: 273px;
        height: 213px;
        float: right;
        margin: 108px 0 135px;
        padding-left: 20px;
      }
      @include breakpoint($br-large) {
        width: 390px;
        height: 298px;
        margin: 0;
        margin-top: 35px;
      }

    }

    //img {
    //  width: 90%;
    //  margin: 25px 0;
    //  @include breakpoint($br-medium) {
    //    width: 50%;
    //    margin-top: 135px;
    //  }
    //}

    .button-blue {
      display: inline-block;
      color: $blue-ribbon;
      font-family: museosans700;
      font-size: 14px;
      text-decoration: none;
      border: 2px solid $blue-ribbon;
      border-radius: 20px;
      padding: 10px 25px 10px 10px;
      background: url("/img/icons/right-arrow.svg") no-repeat;
      background-size: 7px;
      background-position: 90% center;
      margin: 16px 0 40px;
      &:hover {
        color: $downriver;
        border:  2px solid $downriver;
        background: url("/img/icons/hover-right-arrow.svg") no-repeat;
        background-size: 7px;
        background-position: 90% center;
      }
      @include breakpoint($br-medium) {
        margin: 29px 0 42px;
      }
      @include breakpoint($br-large) {
        margin: 41px 0 42px;
        font-size: 16px;
        padding: 10px 37px 10px 15px;
        background-size: 8px;
      }
    }
  }
  .left {
    img {
      float: right;
    }
    @include breakpoint($br-large) {
      margin: 70px 0;
    }
  }
  .right {
    float: right;
    @include breakpoint($br-large) {
      margin: 57px 0;
    }
    img {
      float: left;
    }
    h1 {
      @include breakpoint($br-medium) {
        margin-left: 65px;
        display: block;
        float: right;
      }
      @include breakpoint($br-large) {

      }
    }
    p {
      @include breakpoint($br-medium) {
        padding-left: 65px;
        padding-right: 20px;
      }
      @include breakpoint($br-large) {
        width: 50%;
        float: right;
        padding-right: 0;
      }
    }
    .button-blue {
      @include breakpoint($br-medium) {
        margin-left: 65px;
      }
    }
  }
}