.posts {
  hr {
    border: 1px solid #e4e3e3;
  }
  .post {
    text-align: center;
    @include breakpoint($br-medium) {
      text-align: left;
    }
    h1 {
      font-size: 24px;
      width: 100%;
      margin-top: 35px;
      font-family: museosans100;
      @include breakpoint($br-medium) {
        font-size: 34px;
        width: 50%;
        display: inline-block;
        margin: 48px 0 36px;
      }
      @include breakpoint($br-large) {
        font-size: 48px;
      }
    }
    p {
      width: 100%;
      font-family: museosans300;
      font-size: 14px;
      line-height: 25px;
      @include breakpoint($br-medium) {
        width: 50%;
        font-size: 15px;
        line-height: 28px;
        display: table-cell;
        padding-right: 22px;
      }
    }
    .post-img-1 {
      background: url("/img/post-1.png") no-repeat center;
      background-size: contain;
      width: 230px;
      height: 170px;
      margin: 25px auto;
      @include breakpoint($br-medium) {
        width: 295px;
        height: 220px;
        float: right;
        margin: 108px 0 135px;
      }
    }
    .post-img-2 {
      background: url("/img/post-2.png") no-repeat;
      background-size: contain;
      width: 230px;
      height: 170px;
      margin: 25px auto;
      @include breakpoint($br-medium) {
        width: 260px;
        height: 193px;
        float: left;
        margin: 108px 0 135px;
      }
    }
    .post-img-3 {
      background: url("/img/post-3.png") no-repeat;
      background-size: contain;
      width: 225px;
      height: 170px;
      margin: 25px auto;
      @include breakpoint($br-medium) {
        width: 273px;
        height: 213px;
        float: right;
        margin: 108px 0 135px;
      }

    }

    //img {
    //  width: 90%;
    //  margin: 25px 0;
    //  @include breakpoint($br-medium) {
    //    width: 50%;
    //    margin-top: 135px;
    //  }
    //}

    .button-blue {
      display: inline-block;
      color: $blue-ribbon;
      font-family: museosans700;
      font-size: 14px;
      text-decoration: none;
      border: 2px solid $blue-ribbon;
      border-radius: 20px;
      padding: 10px 25px 10px 10px;
      background: url("/img/icons/right-arrow.svg") no-repeat;
      background-size: 7px;
      background-position: 90% center;
      margin: 16px 0 40px;
      @include breakpoint($br-medium) {
        margin: 29px 0 42px;
      }
    }
  }
  .left {
    img {
      float: right;
    }
  }
  .right {
    float: right;
    img {
      float: left;
    }
    h1 {
      @include breakpoint($br-medium) {
        padding-left: 22px;
        float: right;
      }
    }
    p {
      @include breakpoint($br-medium) {
        padding-left: 22px;
        padding-right: 0;
      }
    }
  }
}