.pricing {
  border-top: 1px solid $alto;
  margin-top: 70px;
  @include breakpoint($br-medium) {
    margin-top: 115px;
  }
  @include breakpoint($br-large){
    margin-top: 140px;
  }
  .container {
    position: relative;
    top: -39px;
    @include breakpoint($br-medium) {
      top: -65px;
    }
    @include breakpoint($br-large) {
      position: relative;
      top: -92px;
    }
  }
}
.nav-tabs {
  .tab {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-right: 3px;
    &:hover {
      cursor: pointer;
    }
    &:last-child{
      padding-right: 0;
      padding-left: 3px;
    }
    a {
      display: block;
      font-size: 14px;
      text-decoration: none;
      background-color: $wild-sand;
      line-height: 38px;
      border-top-right-radius: 9px;
      border-top-left-radius: 9px;
      border-top: 1px solid $alto;
      border-left: 1px solid $alto;
      border-right: 1px solid $alto;
      position: relative;
      z-index: -1;
      font-family: museosans300;
      color: $gray-chateau;
      &.active {
        color: $blue-ribbon;
        background-color: $white;
        z-index: 0;
      }
      @include breakpoint($br-medium) {
        font-size: 18px;
        line-height: 64px;
      }
      @include breakpoint($br-large){
        font-size: 25px;
        line-height: 91px;
      }
    }
  }
}
.tab-content {
  display: none;
  &.active {
    display: block;
  }
}
