.pricing {
  border-top: 1px solid $alto;
  margin-top: 70px;
  @include breakpoint($br-medium) {
    margin-top: 115px;
  }
  @include breakpoint($br-large){
    margin-top: 140px;
  }
  .container {
    position: relative;
    top: -43px;
    @include breakpoint($br-medium) {
      top: -65px;
    }
    @include breakpoint($br-large) {
      position: relative;
      top: -93px;
    }
  }
}
.nav-tabs {
  .tab {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-right: 3px;
    &:last-child{
      padding-right: 0;
      padding-left: 3px;
    }
    a {
      display: block;
      font-size: 14px;
      text-decoration: none;
      background-color: $wild-sand;
      padding: 15px 0 13px;
      border-top-right-radius: 9px;
      border-top-left-radius: 9px;
      border-top: 1px solid $alto;
      border-left: 1px solid $alto;
      border-right: 1px solid $alto;
      position: relative;
      z-index: -1;
      font-family: museosans300;
      color: $gray-chateau;
      &.active {
        color: $blue-ribbon;
        background-color: $white;
        z-index: 0;
      }
      @include breakpoint($br-medium) {
        font-size: 18px;
        padding: 23px 0;
      }
      @include breakpoint($br-large){
        font-size: 25px;
        padding: 37px 0 30px;
      }
    }
  }
}
.tab-content {
  display: none;
  &.active {
    display: block;
  }
  .price-1, .price-2, .price-3 {
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    background-color: $white;
    box-shadow: 10px 10px 50px #888888;
    margin-top: 40px;
    p {
      text-align: center;
    }
    .plan {
      color: $white;
      background-color: $blue-ribbon;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-family: museosans700;
      font-size: 14px;
      padding: 15px 0;
    }
    .price {
      margin-top: 32px;
      color: $blue-ribbon;
      font-family: museosans100;
       span {
        font-size: 48px;
      }
    }
  }
}
.button-blue {
  a{
    text-decoration: none;
  }
}