@import "susy";
@import "breakpoint";

$br-small: 640px;
$br-medium: 770px;
$br-large: 1180px;


/*---------colors---------*/
$blue-ribbon: #0050ff;
$science-blue: #0040cc;
$downriver: #081f3f;
$white: #ffffff;
$alabaster: #fafafa;


$susy: (
        flow: ltr, // ltr | rtl
        output: float, // float | isolate
        math: static, // fluid | static (requires column-width)
        column-width: 80px, // false | value
        container: auto, // length or % | auto
        container-position: center, // left | center | right | <length> [*2] (grid padding)
        last-flow: to,
        columns: 12,
        gutters: 1/4,
        gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
        global-box-sizing: content-box, // content-box | border-box (affects inside/inside-static)
        debug: (image: show)
);

.wrapper {
  width: 100%;
  margin: 0 auto;

    @include show-grid(12);
}
.container {
  @include breakpoint($br-small) {
    @include container(640px);
  }
  @include breakpoint($br-medium) {
    @include container(720px);
  }
  @include breakpoint($br-large) {
    @include container(1180px);
  }
}

@include breakpoint($br-large){
  .column-1-4, .column-2-4, .column-3-4, .column-4-4{
    @include span(3 of 12);
  }
  .column-4-4{
    @include last;
  }
}
@include breakpoint($br-medium){
  .column-1-4, .column-2-4, .column-3-4, .column-4-4{
    @include span(3 of 12);
  }
  .column-4-4{
    @include last;
  }
}




@include breakpoint($br-small){
  .column-1-2,.column-2-2{
    @include span(6);
  }
  .column-2-2{
    @include last;
  }
}



@import "header";
@import "fonts";
@import "promo";
@import "features";