<section class="accordion-with">
    <div class="container max-width">
        <p class="notes">Lorem ipsum notes</p>
        <div id="accordion">
            <h3 class="accordion-button">Who can use the service?<span class="arrow"><img src="../img/icons/accordion-arrow.svg"></span></h3>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo. Nunc a lobortis.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Praesent et feugiat diam sit amet venenatis orci</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo.
                </p>
            </div>
            <h3 class="accordion-button">How do the appointments work?<span class="arrow"><img src="../img/icons/accordion-arrow.svg"></span></h3>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo. Nunc a lobortis.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Praesent et feugiat diam sit amet venenatis orci</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo.
                </p>
            </div>
            <h3 class="accordion-button">How much does it cost?<span class="arrow"><img src="../img/icons/accordion-arrow.svg"></span></h3>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo. Nunc a lobortis.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Praesent et feugiat diam sit amet venenatis orci</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo.
                </p>
            </div>
            <h3 class="accordion-button">What conditions do you treat?<span class="arrow"><img src="../img/icons/accordion-arrow.svg"></span></h3>
            <div class="accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo. Nunc a lobortis.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Praesent et feugiat diam sit amet venenatis orci</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum ligula.
                    Praesent et feugiat diam, sit amet venenatis orci. Pellentesque facilisis tincidunt porttitor.
                    Mauris ligula ex, mattis id purus a, blandit aliquam justo.
                </p>
            </div>
        </div>
        <div class="button-wrapper btn-blue">
            <a href="">Lorem ipsum notes</a>
        </div>
    </div>
</section>