<section class="album">
    <div class="container max-width">
        <div class="wrapper-table">
            <div class="wrapper-cell">
                <img src="../img/icons/icon-5.svg" alt=""/>
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod
                    tincidunt ut laoreet.
                </p>
                <a class="white-button" href="#">Read more</a>
            </div>
        </div>
        <div class="album-photo first"></div>
        <div class="album-photo second"></div>
        <div class="album-photo third"></div>
        <div class="album-photo forth"></div>
    </div>
</section>