<section class="features">
    <div class="container">
        <div class="column column-1-4">
            <img src="../img/icons/icon-1.svg"/>
            <p>Lorem ipsum dolor sit amet
                consectetuer adipiscing
            </p>
        </div>
        <div class="column column-2-4">
            <img src="../img/icons/icon-2.svg"/>
            <p>Lorem ipsum dolor sit amet
                consectetuer adipiscing
            </p>
        </div>
        <div class="column column-3-4">
            <img src="../img/icons/icon-3.svg"/>
            <p>Lorem ipsum dolor sit amet
                consectetuer adipiscing
            </p>
        </div>
        <div class="column column-4-4">
            <img src="../img/icons/icon-4.svg"/>
            <p>Lorem ipsum dolor sit amet
                consectetuer adipiscing
            </p>
        </div>
    </div>
</section>