<footer>
    <div class="container">
        <div class="footer-container">
            <div class="logo">
                <img src="img/logo.png" alt=""/>
            </div>
            <div class="list-1">
                <h4>Our sites</h4>
                <ul>
                    <li class="active"><a href="#">Patients</a></li>
                    <li><a href="#">Clinicians</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Pharmacists</a></li>
                </ul>
            </div>
            <div class="list-2">
                <h4>The service</h4>
                <ul>
                    <li class="active"><a href="#">What we do</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="list-3">
                <h4>Useful links</h4>
                <ul>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">User stories</a></li>
                    <li><a href="#">Mobile apps</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">International</a></li>
                </ul>
            </div>
            <div class="list-4">
                <div class="register-bottom">
                    <a class="btn btn-log" href="">Log in</a>
                    <a class="btn btn-sign" href="">Sign up</a>
                </div>
                <div class="apps">
                    <img src="img/app-store-lg.png" alt="">
                    <img src="img/google-play-lg.png" alt="">
                </div>
                <div class="apps-medium">
                    <img src="img/app-store-md.png" alt="">
                    <img src="img/google-play-md.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <a href="">Terms</a>
            <span>+</span>
            <a href="">Privacy</a>
            <div class="social-icons">
                <div class="icon-facebook"></div>
                <div class="icon-twitter"></div>
                <div class="icon-youtube"></div>
            </div>
        </div>
    </div>
</footer>