<section class="contact-form">
    <h1>Contact form</h1>
    <div class="container" style="overflow: hidden">
        <div class="form-col">
            <form>
                <div class="form-container">
                    <div class="column-1-2">
                        <label for="name">Your name</label>
                        <input id="name" type="text">
                    </div>
                    <div class="column-2-2">
                        <label for="number">Number</label>
                        <input id="number" type="number">
                    </div>
                    <div class="column">
                        <div class="email">
                            <label for="email">Email address</label>
                            <input id="email" type="email">
                        </div>
                    </div>
                    <div class="column">
                        <div class="message">
                            <label for="message">Your message</label>
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="column">
                        <div class="accept">
                            <label>Accept terms</label>
                            <label class="terms" for="c-box"><input type="checkbox" id="c-box">I accept the terms</label><br>
                        </div>
                        <a class="button-blue" href="">Send message</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="info-col">
            <h1>Need more info?</h1>
            <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolor.
            </p>
            <div class="card">
                <h2>John Johnson</h2>
                <h3>CTO</h3>
                <div class="card-img"></div>
                <a href="tel:+38124546785">024 546 785</a>
                <a href="mailto:johnjohnson@example.com">johnjohnson@example.com</a>
            </div>
        </div>
    </div>
    <div class="info-mobile">
        <div class="container">
            <h1>Need more info?</h1>
            <p>Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolor.
            </p>
            <div class="card">
                <h2>John Johnson</h2>
                <h3>CTO</h3>
                <div class="card-img"></div>
                <a href="tel:+38124546785">024 546 785</a>
                <a href="mailto:johnjohnson@example.com">johnjohnson@example.com</a>
            </div>
        </div>
    </div>
</section>