<div class="header-width">
    <div class="container">
        <header>
            <div class="user-type-nav">
                <a href="#">Patients</a>
                <a href="#">Clinicians</a>
                <a href="#">Business</a>
            </div>
            <div class="logo">
                <img src="img/logo.png" alt=""/>
            </div>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a class="active" href="#">
                            What we do
                            <div class="hover"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About
                            <div class="hover"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Pricing
                            <div class="hover"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact
                            <div class="hover"></div>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="register">
                <a class="btn btn-log" href="">Log in</a>
                <a class="btn btn-sign" href="">Sign up</a>
            </div>
            <div class="burger-wrapper">
                <div class="burger"></div>
            </div>
        </header>
    </div>
</div>