<section class="posts">
    <hr>
    <div class="container">
        <div class="post left">
            <h1>Our vision</h1>
            <img class="post-img-1" src="../img/post-1.png" alt=""/>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            </p>
            <a class="button-blue" href="">Read more</a>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="post right">
            <h1>Post title</h1>
            <img class="post-img-2" src="../img/post-2.png" alt=""/>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."
            </p>
            <a class="button-blue" href="">Read more</a>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="post left">
            <h1>Post title</h1>
            <img class="post-img-3" src="../img/post-3.png" alt=""/>
            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat."
            </p>
            <a class="button-blue" href="">Read more</a>
        </div>
    </div>
    <hr>
</section>