<section class="presentation">
    <div class="text">
        <img class="family" src="img/icons/family.png" alt="">
        <img class="family-mob" src="img/icons/family-mob.png" alt=""/>
        <h1>Sed ut perspiciatis unde omnis iste nat</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
    </div>
    <div class="focuspoint"
         data-focus-x="0"
         data-focus-y="0"
         data-image-w="1639"
         data-image-h="740">
        <img src="img/header-photo.jpg" alt=""/>
    </div>
</section>