<section class="pricing">
    <div class="container">
        <ul class="nav-tabs clearfix">
            <li class="tab"><a class="active" href="#lorem-plans">Lorem plans</a></li>
            <li class="tab"><a href="#ipsum-plans">Ipsum plans</a></li>
        </ul>
        <div class="tabs">
            <div class="tab-content active" id="lorem-plans">
                <div class="prices first">
                    <p class="plan">Montly plan</p>
                    <table>
                        <tr>
                            <td class="pound">&pound18</td>
                            <td class="month">per<br>month</td>
                        </tr>
                    </table>
                    <p>Minumum 4 months</p>
                    <ul>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Unlimited online appointments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Health tracking</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">NHS repeat prescriptions</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Online health assessments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">2 free international appointments
                        </li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Discounts for family members
                        </li>
                    </ul>
                </div>
                <div class="prices best">
                    <p class="plan">Annual plan</p>
                    <div class="best-value"></div>
                    <p class="price"><span>&pound180</span></p>
                    <p>Save £36 per year</p>
                    <ul>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Unlimited online appointments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Health tracking</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">NHS repeat prescriptions</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Online health assessments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">2 free international appointments
                        </li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Discounts for family members</li>
                    </ul>
                </div>
                <div class="prices last">
                    <p class="plan">Pay as you go</p>
                    <p class="price"><span>&pound75</span></p>
                    <p>Per appointment</p>
                    <ul>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Unlimited online appointments
                        </li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Health tracking</li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">NHS repeat prescriptions</li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Online health assessments</li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">2 free international
                            appointments
                        </li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Discounts for family members
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="ipsum-plans">
                <div class="prices first">
                    <p class="plan">Montly plan</p>
                    <table>
                        <tr>
                            <td class="pound">&pound18</td>
                            <td class="month">per<br>month</td>
                        </tr>
                    </table>
                    <p>Minumum 4 months</p>
                    <ul>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Unlimited online appointments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Health tracking</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">NHS repeat prescriptions</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Online health assessments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">2 free international appointments
                        </li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Discounts for family members
                        </li>
                    </ul>
                </div>
                <div class="prices best">
                    <p class="plan">Annual plan</p>
                    <div class="best-value"></div>
                    <p class="price"><span>&pound180</span></p>
                    <p>Save £36 per year</p>
                    <ul>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Unlimited online appointments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Health tracking</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">NHS repeat prescriptions</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Online health assessments</li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">2 free international appointments
                        </li>
                        <li class="checked"><img src="img/icons/check.svg" alt="">Discounts for family members</li>
                    </ul>
                </div>
                <div class="prices last">
                    <p class="plan">Pay as you go</p>
                    <p class="price"><span>&pound75</span></p>
                    <p>Per appointment</p>
                    <ul>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Unlimited online appointments
                        </li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Health tracking</li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">NHS repeat prescriptions</li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Online health assessments</li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">2 free international
                            appointments
                        </li>
                        <li class="unchecked"><img src="img/icons/uncheck.svg" alt="">Discounts for family members
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <a href="#">Sign up now</a>
        </div>
    </div>
</section>