<section class="user-story-wrapper clearfix">
    <div class="user-story">
        <div class="container">
            <div class="wrapper-table">
                <div class="wrapper-cell">
                    <h4>users’s story</h4>
                    <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy”</p>
                    <a class="white-button" href="#">Read user’s story</a>
                </div>
            </div>
        </div>
    </div>
    <div class="user-photo"></div>
</section>